.header {
    width: 100%;
}

.header-content {
    display: flex;
    justify-content: space-around;
    box-shadow: 1px 1px 24px -8px rgba(0,0,0,0.75);
}

.logo {
    padding: 1rem;
}

.navigation {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: 100%;
}

.item {

}

.link {
    text-decoration: none;
    padding: .6rem;
    color: #ACACAC;
}

.link:hover {
    color: #000000;
}